#galeria {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
}

.img-contenedor {
    max-width: 220px;
    display: inline-block;
    height: 200px;
    overflow: hidden;
}

.img-contenedor img {
    width: 98%;
    border: 3px solid #CCC;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
}